{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Seven Siege</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
          <a class="nav-link text-white" href="{% url 'main:logout' %}">Logout</a>
        </div>
      </div>
    </div>
</nav>
<div class="container mt-5">

    <div class="card bg-dark text-white">
        <div class="card-header">
            <h1 class="card-title">Add New Item</h1>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <div class="card bg-secondary">
                        <div class="card-body">
                            {{ form.name.label_tag }}
                            {{ form.name }}
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="card bg-secondary">
                        <div class="card-body">
                            {{ form.amount.label_tag }}
                            {{ form.amount }}
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="card bg-secondary">
                        <div class="card-body">
                            {{ form.price.label_tag }}
                            {{ form.price }}
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="card bg-secondary">
                        <div class="card-body">
                            {{ form.category.label_tag }}
                            {{ form.category }}
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="card bg-secondary">
                        <div class="card-body">
                            {{ form.description.label_tag }}
                            {{ form.description }}
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success">Add Item</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
