{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock meta %}
{% block content %}
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Seven Siege</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
          <a class="nav-link text-white" href="{% url 'main:logout' %}">Logout</a>
        </div>
      </div>
    </div>
</nav>
<div class="container mt-5">
    <h1 class="text-black">{{ appl_name }} Page</h1>
    <h5 class="text-black">Name:</h5>
    <p class="text-black">{{name}}</p>
    <h5 class="text-black">Class:</h5>
    <p class="text-black">{{class}}</p>
    <h4 class="text-black">Jumlah Item</h4>
    <p class="text-black">Kamu menyimpan {{ item_count }} item pada applikasi ini</p>

    <div class="card-group">
        {% for item in items %}
        <div class="card bg-secondary text-white">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body {% if forloop.last %} last-card{% endif %}">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">Amount: {{ item.amount }}</p>
                <p class="card-text">Price: {{ item.price }}</p>
                <p class="card-text">Category: {{ item.category }}</p>
                <p class="card-text">Description: {{ item.description }}</p>
                <p class="card-text">Date Added: {{ item.date_added }}</p>
                <div class="d-flex">
                    <form action="{% url 'main:add_amount' item.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary me-2" name="Increment">+</button>
                    </form>
                    <form action="{% url 'main:subtract_amount' item.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary me-2" name="Decrement">-</button>
                    </form>
                    <form action="{% url 'main:remove_item' item.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" name="Remove">X</button>
                    </form>
                </div>                               
            </div>
        </div>
        {% endfor %}
    </div>
    
    <br />
    
    <a href="{% url 'main:create_item' %}" class="btn btn-success">Add New Item</a>
    <!-- <a href="{% url 'main:logout' %}" class="btn btn-secondary">Logout</a> -->
    <h5 class="text-white">Sesi terakhir login: {{ last_login }}</h5>
</div>

{% endblock content %}
