{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock meta %}
{% block content %}
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Seven Siege</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
          <a class="nav-link text-white" href="{% url 'main:logout' %}">Logout</a>
        </div>
      </div>
    </div>
</nav>
<div class="container mt-5">
    <h1 class="text-black">{{ appl_name }} Page</h1>
    <h5 class="text-black">Name:</h5>
    <p class="text-black">{{name}}</p>
    <h5 class="text-black">Class:</h5>
    <p class="text-black">{{class}}</p>
    <h4 class="text-black">Jumlah Item</h4>
    <p class="text-black">Kamu menyimpan {{ item_count }} item pada applikasi ini</p>

    <div class="card-group" id="item-cards">
    </div>
    
    <br />

    <!-- MODAL -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="col-form-label">Amount:</label>
                            <input type="number" class="form-control" id="amount" name="amount"></input>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="col-form-label">Price:</label>
                            <input type="number" class="form-control" id="price" name="price"></input>
                        </div>
                        <div class="mb-3">
                            <label for="category" class="col-form-label">Category:</label>
                            <input type="text" class="form-control" id="category" name="category"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>

    <!-- <a href="{% url 'main:create_item' %}" class="btn btn-success">Add New Item</a> -->
    <!-- <a href="{% url 'main:logout' %}" class="btn btn-secondary">Logout</a> -->
    <h5 class="text-white">Sesi terakhir login: {{ last_login }}</h5>
</div>

<script>
const csrfToken = "{{ csrf_token }}";

async function getItems() {
    return fetch("{% url 'main:get_item_json' %}").then((res) => res.json())
}

async function displayItemCards() {
    try {
        const items = await getItems();
        const itemCardsContainer = document.getElementById("item-cards");
        itemCardsContainer.innerHTML = ""; // Clear existing cards

        items.forEach((item, index, array) => {
            const card = document.createElement("div");
            card.className = "card bg-secondary text-white";

            const cardBody = document.createElement("div");
            cardBody.className = "card-body";
            if (index === array.length - 1) {
                cardBody.classList.add("last-card");
            }

            const cardTitle = document.createElement("h5");
            cardTitle.className = "card-title";
            cardTitle.textContent = item.fields.name;

            const cardAmount = document.createElement("p");
            cardAmount.className = "card-text";
            cardAmount.textContent = "Amount: " + item.fields.amount;

            const cardPrice = document.createElement("p");
            cardPrice.className = "card-text";
            cardPrice.textContent = "Price: " + item.fields.price;

            const cardCategory = document.createElement("p");
            cardCategory.className = "card-text";
            cardCategory.textContent = "Category: " + item.fields.category;

            const cardDescription = document.createElement("p");
            cardDescription.className = "card-text";
            cardDescription.textContent = "Description: " + item.fields.description;

            const cardDateAdded = document.createElement("p");
            cardDateAdded.className = "card-text";
            cardDateAdded.textContent = "Date Added: " + item.fields.date_added;

            const buttonDiv = document.createElement("div");
            buttonDiv.className = "d-flex";

            const incrementButton = document.createElement("button");
            incrementButton.className = "btn btn-primary me-2";
            incrementButton.textContent = "+";
            incrementButton.addEventListener('click', async () => {
                const response = await fetch(`/add/${item.pk}/`, {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                }).then(displayItemCards);
            });

            const decrementButton = document.createElement("button");
            decrementButton.className = "btn btn-primary me-2";
            decrementButton.textContent = "-";
            decrementButton.addEventListener('click', async () => {
                const response = await fetch(`/subtract/${item.pk}/`, {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                }).then(displayItemCards);
            });

            const removeButton = document.createElement("button");
            removeButton.className = "btn btn-danger";
            removeButton.textContent = "X";
            removeButton.addEventListener('click', async () => {
                const response = await fetch(`/remove/${item.pk}/`, {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                }).then(displayItemCards);
            });

            // Append elements to card
            buttonDiv.appendChild(incrementButton);
            buttonDiv.appendChild(decrementButton);
            buttonDiv.appendChild(removeButton);

            cardBody.appendChild(cardTitle);
            cardBody.appendChild(cardAmount);
            cardBody.appendChild(cardPrice);
            cardBody.appendChild(cardCategory);
            cardBody.appendChild(cardDescription);
            cardBody.appendChild(cardDateAdded);
            cardBody.appendChild(buttonDiv);
            card.appendChild(cardBody);

            // Append card to the container
            itemCardsContainer.appendChild(card);
        });
    } catch (error) {
        console.error("An error occurred while fetching items:", error);
    }
}

// Call the function to initially load item cards
displayItemCards();

function addItem() {
        fetch("{% url 'main:create_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(displayItemCards)

        document.getElementById("form").reset()
        return false
    }
document.getElementById("button_add").onclick = addItem
</script>
{% endblock content %}
